.App {
  transform: rotate(0deg);
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #180727;
}

.App__top {
  display: flex;
  width: 100%;
}

.Blinking {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}