.DateTime {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  font-family: 'Aldrich', sans-serif;
  background: #2c0734;
  color: white;
  padding: 10px 10px 0px 10px;
}

.DateTime__time {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 65px;
}

.DateTime__date {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
}
