.Kyykkishotline {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  perspective: 800;
  transform-style: preserve-3d;
}

.Kyykkishotline header {
  position: relative;
  display: flex;
  left: 0;
  right: 0;
  flex: 0 0 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  font-family: 'Monoton', sans-serif;
  font-size: 50px;
  text-align: center;
  color: #f04;
  animation-name: Kyykkishotline__awesome;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
  animation-timing-function: cubic-bezier(.51,.01,.01,1);
  animation-iteration-count: 1;
  transform-style: preserve-3d;
}

.Kyykkishotline header span {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  transform: translate3d(0, 0, 0);
}

.Kyykkishotline header span:nth-child(2) {
  opacity: 0.3;
  transform: translate3d(0, 0, -200px);
}

.Kyykkishotline header span:nth-child(3) {
  opacity: 0.2;
  transform: translate3d(0, 0, -400px);
}

.Kyykkishotline header span:nth-child(4) {
  opacity: 0.15;
  transform: translate3d(0, 0, -600px);
}



.Kyykkishotline .Footer {

}



@keyframes Kyykkishotline__awesome {
  0% {
    transform: translate3d(0, calc(50vh - 50px), 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
