.Stops {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.Stops__item {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: white;
  height: 100%;
}

.Stops__item--name {
  font-size: 90%;
  order: 1;
  margin-left: 10px;
}

.Stops__item--minutes {
  font-size: 70%;
}

.Stops__item--letter {
  font-size: 70%;
}

.Stops__item--blink {
  animation: blink 3s ease infinite;
}

@keyframes blink {
  0% {color: white}
  50% {color: red}
  100% {color: white}
}
