.Stop {
  padding: 0;
  font-family: 'Aldrich', sans-serif;
}

.Stop__route {
  display: flex;
  align-items: center;
  font-size: 28px;
  padding-bottom: 4px;
}

.Stop__route:last-child {
  padding-bottom: 0px;
}

.Stop__route--number {
  flex: 2;
  margin-top: 4px;
  min-width: 30px;
  text-align: center;
}

.Stop__route--headsign {
  flex: 4;
  font-size: 21px;
}

.Stop__route--time {
  flex: 1;
  text-align: end;
  font-size: 28px;
}

.Stop__route--time--mins {
  margin-left: 5px;
  font-size: 12px;
}
