.Weather {
  font-size: 30px;
  align-items: center;
  color: #fff;
  display: flex;
  justify-content: space-around;
}

.Weather img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25px;
  padding-left: 5px;
}

.weather-symbol {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
}

.weather-symbol.code-0-1 {
  background-image: url(http://cdn.fmi.fi/symbol-images/weather/0/1.svg);
}


.weather-symbol.code-0-2 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/0/2.svg")
}

.weather-symbol.code-0-3 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/0/3.svg")
}

.weather-symbol.code-0-21 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/0/21.svg")
}

.weather-symbol.code-0-22 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/0/22.svg")
}

.weather-symbol.code-0-23 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/0/23.svg")
}

.weather-symbol.code-0-31 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/0/31.svg")
}

.weather-symbol.code-0-32 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/0/32.svg")
}

.weather-symbol.code-0-33 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/0/33.svg")
}

.weather-symbol.code-0-41 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/0/41.svg")
}

.weather-symbol.code-0-42 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/0/42.svg")
}

.weather-symbol.code-0-43 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/0/43.svg")
}

.weather-symbol.code-0-51 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/0/51.svg")
}

.weather-symbol.code-0-52 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/0/52.svg")
}

.weather-symbol.code-0-53 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/0/53.svg")
}

.weather-symbol.code-0-61 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/0/61.svg")
}

.weather-symbol.code-0-62 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/0/62.svg")
}

.weather-symbol.code-0-63 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/0/63.svg")
}

.weather-symbol.code-0-64 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/0/64.svg")
}

.weather-symbol.code-0-71 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/0/71.svg")
}

.weather-symbol.code-0-72 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/0/72.svg")
}

.weather-symbol.code-0-73 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/0/73.svg")
}

.weather-symbol.code-0-81 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/0/81.svg")
}

.weather-symbol.code-0-82 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/0/82.svg")
}

.weather-symbol.code-0-83 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/0/83.svg")
}

.weather-symbol.code-0-92 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/0/92.svg")
}

.weather-symbol.code-1-1 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/1/1.svg")
}

.weather-symbol.code-1-2 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/1/2.svg")
}

.weather-symbol.code-1-3 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/0/3.svg")
}

.weather-symbol.code-1-21 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/1/21.svg")
}

.weather-symbol.code-1-22 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/1/22.svg")
}

.weather-symbol.code-1-23 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/1/23.svg")
}

.weather-symbol.code-1-31 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/0/31.svg")
}

.weather-symbol.code-1-32 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/0/32.svg")
}

.weather-symbol.code-1-33 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/0/33.svg")
}

.weather-symbol.code-1-41 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/1/41.svg")
}

.weather-symbol.code-1-42 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/1/42.svg")
}

.weather-symbol.code-1-43 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/1/43.svg")
}

.weather-symbol.code-1-51 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/0/51.svg")
}

.weather-symbol.code-1-52 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/0/52.svg")
}

.weather-symbol.code-1-53 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/0/53.svg")
}

.weather-symbol.code-1-61 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/1/61.svg")
}

.weather-symbol.code-1-62 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/1/62.svg")
}

.weather-symbol.code-1-63 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/0/63.svg")
}

.weather-symbol.code-1-64 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/0/64.svg")
}

.weather-symbol.code-1-71 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/1/71.svg")
}

.weather-symbol.code-1-72 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/1/72.svg")
}

.weather-symbol.code-1-73 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/1/73.svg")
}

.weather-symbol.code-1-81 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/0/81.svg")
}

.weather-symbol.code-1-82 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/0/82.svg")
}

.weather-symbol.code-1-83 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/0/83.svg")
}

.weather-symbol.code-1-92 {
  background-image: url("http://cdn.fmi.fi/symbol-images/weather/0/92.svg")
}

.smartsymbol.code-1 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/1.svg")
}

.smartsymbol.code-2 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/2.svg")
}

.smartsymbol.code-4 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/4.svg")
}

.smartsymbol.code-6 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/6.svg")
}

.smartsymbol.code-7 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/7.svg")
}

.smartsymbol.code-9 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/9.svg")
}

.smartsymbol.code-11 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/11.svg")
}

.smartsymbol.code-14 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/14.svg")
}

.smartsymbol.code-17 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/17.svg")
}

.smartsymbol.code-21 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/21.svg")
}

.smartsymbol.code-24 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/24.svg")
}

.smartsymbol.code-27 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/27.svg")
}

.smartsymbol.code-31 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/31.svg")
}

.smartsymbol.code-32 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/32.svg")
}

.smartsymbol.code-33 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/33.svg")
}

.smartsymbol.code-34 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/34.svg")
}

.smartsymbol.code-35 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/35.svg")
}

.smartsymbol.code-36 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/36.svg")
}

.smartsymbol.code-37 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/37.svg")
}

.smartsymbol.code-38 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/38.svg")
}

.smartsymbol.code-39 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/39.svg")
}

.smartsymbol.code-41 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/41.svg")
}

.smartsymbol.code-42 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/42.svg")
}

.smartsymbol.code-43 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/43.svg")
}

.smartsymbol.code-44 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/44.svg")
}

.smartsymbol.code-45 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/45.svg")
}

.smartsymbol.code-46 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/46.svg")
}

.smartsymbol.code-47 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/47.svg")
}

.smartsymbol.code-48 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/48.svg")
}

.smartsymbol.code-49 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/49.svg")
}

.smartsymbol.code-51 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/51.svg")
}

.smartsymbol.code-52 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/52.svg")
}

.smartsymbol.code-53 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/53.svg")
}

.smartsymbol.code-54 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/54.svg")
}

.smartsymbol.code-55 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/55.svg")
}

.smartsymbol.code-56 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/56.svg")
}

.smartsymbol.code-57 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/57.svg")
}

.smartsymbol.code-58 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/58.svg")
}

.smartsymbol.code-59 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/59.svg")
}

.smartsymbol.code-61 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/61.svg")
}

.smartsymbol.code-64 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/64.svg")
}

.smartsymbol.code-67 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/67.svg")
}

.smartsymbol.code-71 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/71.svg")
}

.smartsymbol.code-74 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/74.svg")
}

.smartsymbol.code-77 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/77.svg")
}

.smartsymbol.code-101 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/101.svg")
}

.smartsymbol.code-102 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/102.svg")
}

.smartsymbol.code-104 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/104.svg")
}

.smartsymbol.code-106 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/106.svg")
}

.smartsymbol.code-107 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/7.svg")
}

.smartsymbol.code-109 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/9.svg")
}

.smartsymbol.code-111 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/11.svg")
}

.smartsymbol.code-114 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/14.svg")
}

.smartsymbol.code-117 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/17.svg")
}

.smartsymbol.code-121 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/121.svg")
}

.smartsymbol.code-124 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/124.svg")
}

.smartsymbol.code-127 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/27.svg")
}

.smartsymbol.code-131 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/131.svg")
}

.smartsymbol.code-132 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/132.svg")
}

.smartsymbol.code-133 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/133.svg")
}

.smartsymbol.code-134 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/134.svg")
}

.smartsymbol.code-135 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/135.svg")
}

.smartsymbol.code-136 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/136.svg")
}

.smartsymbol.code-137 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/37.svg")
}

.smartsymbol.code-138 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/38.svg")
}

.smartsymbol.code-139 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/39.svg")
}

.smartsymbol.code-141 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/141.svg")
}

.smartsymbol.code-142 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/142.svg")
}

.smartsymbol.code-143 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/143.svg")
}

.smartsymbol.code-144 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/144.svg")
}

.smartsymbol.code-145 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/145.svg")
}

.smartsymbol.code-146 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/146.svg")
}

.smartsymbol.code-147 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/47.svg")
}

.smartsymbol.code-148 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/48.svg")
}

.smartsymbol.code-149 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/49.svg")
}

.smartsymbol.code-151 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/151.svg")
}

.smartsymbol.code-152 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/152.svg")
}

.smartsymbol.code-153 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/153.svg")
}

.smartsymbol.code-154 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/154.svg")
}

.smartsymbol.code-155 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/155.svg")
}

.smartsymbol.code-156 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/156.svg")
}

.smartsymbol.code-157 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/57.svg")
}

.smartsymbol.code-158 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/58.svg")
}

.smartsymbol.code-159 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/59.svg")
}

.smartsymbol.code-161 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/161.svg")
}

.smartsymbol.code-164 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/164.svg")
}

.smartsymbol.code-167 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/67.svg")
}

.smartsymbol.code-171 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/171.svg")
}

.smartsymbol.code-174 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/174.svg")
}

.smartsymbol.code-177 {
  background-image: url("https://cdn.fmi.fi/symbol-images/smartsymbol/v2/p/77.svg")
}

.smartsymbol {
  transform: translateX(-5px);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  margin: 0 auto
}

.meteogram-apparent-temperatures-title {
  display: none;
}

.meteogram-apparent-temperatures {
  display: none;
}

.meteogram-precipitation-title {
  display: none;
}

.meteogram-probabilities-of-precipitation {
  display: none;
}

.meteogram-hourly-precipitation-bars {
  display: none;
}

.meteogram-hourly-precipitation-values {
  display: none;
}

.meteogram-wind-symbols {
  display: none;
}

.meteogram-dates {
  display: none;
}

td {
  display: none;
  padding-left: 20px;
  padding-right: 20px;
}

td:nth-child(1) {
  display: table-cell;
}

td:nth-child(3) {
  display: table-cell;
}

td:nth-child(5) {
  display: table-cell;
}

td:nth-child(7) {
  display: table-cell;
}

td:nth-child(9) {
  display: table-cell;
}

td:nth-child(11) {
  display: table-cell;
}