.Weather {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  color: white;
  background: #2c0734;
  font-family: 'Aldrich', sans-serif;
}

.Weather__item {
  display: flex;
  flex: 3;
  flex-flow: row;
  font-size: 16px;
  justify-content: space-around;
  align-items: center;
}

.Weather__current {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Weather__item__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Weather__item__time {
  font-size: 20px;
}

.Weather__item__temp {
  font-size: 35px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-left: 10px;
}

.Weather__item__currentTemp {
  font-size: 60px;
}

.Weather__item__currentWind {
  margin-right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  background-color: #2c0734;
  border: 1px solid white;
  border-radius: 50px;
  padding: 1px;
  margin-top: 0.5px;
  width: 40px;
  height: 40px;
  font-size: 35px;
  z-index: 1;
}

.Weather__item__wind__value {
  margin-top: 5px;
  margin-right: 2px;
}

.Weather__item__wind {
  margin-top: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  width: 30px;
  height: 26px;
}

.Weather__item__wind__ms {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  background-color: #2c0734;
  border: 1px solid white;
  border-radius: 50px;
  padding: 1px;
  margin-top: 0.5px;
  width: 26px;
  height: 26px;
  z-index: 1;
}

.Direction__arrow {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  fill: #e7d4f7;
  transform: rotate(var(--deg));
  z-index: 0;
}

.Weather__item .Emoji {
  height: 20px;
  padding-bottom: 5px;
}
